.md, .ios{
  page-login {
    ion-content {
      background: color($colors, backgroundGreen);
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 10vh;
    }

    .credentials {
      padding-top: 5vh;
    }

    .buttons {
      display: block;
      padding-top: 5vh;
    }

    .item.item-trns {
      border-color: rgba(0, 0, 0, 0);
      background-color: rgba(0, 0, 0, 0);
      color: white; 
    }

    .text-input::-moz-placeholder {
      color: white;
    }

    .text-input:-ms-input-placeholder {
      color: white;
    }

    .text-input::-webkit-input-placeholder {
      text-indent: 0;
        color: white;
    }
  }
} 